# Homework Stage 6: Data Preprocessing
Data cleansing and processing

In [7]:
import pandas as pd
from src import cleaning
import os

In [14]:
#creating the data set because there's nothing provided

csv_path = 'data/raw_data_create.csv'
os.makedirs('data', exist_ok=True)

if not os.path.exists(csv_path):
    df_demo = pd.DataFrame({
        'numeric_col': [10, None, 40, 55, 70],
        'category_col': ['A', 'B', 'A', 'B', 'C'],
        'price': ['$100', '$200', '$150', None, '$250'],
        'date_str': ['2025-08-01','2025-08-02',None,'2025-08-04','2025-08-05'],
        'category': ['Electronics','Furniture','Toys','Clothing',None]
    })
    df_demo.to_csv(csv_path, index=False)
    print(f"Demo CSV created at {csv_path}")
else:
    print(f"CSV already exists at {csv_path}")

CSV already exists at data/raw_data_create.csv

## Load Raw Dataset

In [15]:
df = pd.read_csv('data/raw_data_create.csv')
df.head()

   numeric_col category_col price    date_str     category
0         10.0            A  $100  2025-08-01  Electronics
1          NaN            B  $200  2025-08-02    Furniture
2         40.0            A  $150         NaN         Toys
3         55.0            B   NaN  2025-08-04     Clothing
4         70.0            C  $250  2025-08-05          NaN

## Apply Cleaning Functions

In [27]:
 
#cleaning type of data
df = df.copy()

# # Convert price → float
# df["price"] = (
#     df["price"]
#     .str.replace("$", "", regex=False)
#     .astype(float)
# )

# Convert date_str → datetime
df["date_str"] = pd.to_datetime(df["date_str"], errors="coerce")

# Apply cleaning
df_cleaned = fill_missing_general(df)

print(df_cleaned)

NameError: name 'fill_missing_general' is not defined

In [ ]:
# TODO: Apply your functions here
# Example:
# df = cleaning.fill_missing_median(df, ['col1','col2'])
# df = cleaning.drop_missing(df, threshold=0.5)
# df = cleaning.normalize_data(df, ['col1','col2'])

df_clean = cleaning.fill_missing_median(df)
df_clean = cleaning.drop_missing(df_clean, threshold=0.5)
df_clean = cleaning.normalize_data(df_clean, method="standard")

df

   numeric_col category_col price    date_str     category
0         10.0            A  $100  2025-08-01  Electronics
1          NaN            B  $200  2025-08-02    Furniture
2         40.0            A  $150         NaN         Toys
3         55.0            B   NaN  2025-08-04     Clothing
4         70.0            C  $250  2025-08-05          NaN

## Save Cleaned Dataset

In [ ]:
# df.to_csv('../data/processed/sample_data_cleaned.csv', index=False)

import os

# Make sure folder exists
os.makedirs("data", exist_ok=True)

# Save
df_clean.to_csv('data/cleaned_data_create.csv', index=False)

df_clean.head()

   numeric_col category_col price    date_str     category
0    -1.733690            A  $100  2025-08-01  Electronics
1     0.150756            B  $200  2025-08-02    Furniture
2    -0.226134            A  $150         NaN         Toys
3     0.527645            B   NaN  2025-08-04     Clothing
4     1.281423            C  $250  2025-08-05          NaN