# Homework Stage 6: Data Preprocessing
Data cleansing and processing

In [16]:
import pandas as pd
from src import cleaning
import os

In [17]:
#creating the data set because there's nothing provided

csv_path = 'data/raw_data_create.csv'
os.makedirs('data', exist_ok=True)

if not os.path.exists(csv_path):
    df_demo = pd.DataFrame({
        'numeric_col': [10, None, 40, 55, 70],
        'category_col': ['A', 'B', 'A', 'B', 'C'],
        'price': ['$100', '$200', '$150', None, '$250'],
        'date_str': ['2025-08-01','2025-08-02',None,'2025-08-04','2025-08-05'],
        'category': ['Electronics','Furniture','Toys','Clothing',None]
    })
    df_demo.to_csv(csv_path, index=False)
    print(f"Demo CSV created at {csv_path}")
else:
    print(f"CSV already exists at {csv_path}")

CSV already exists at data/raw_data_create.csv

## Load Raw Dataset

In [18]:
df = pd.read_csv('data/raw_data_create.csv')
df.head()

   numeric_col category_col price    date_str     category
0         10.0            A  $100  2025-08-01  Electronics
1          NaN            B  $200  2025-08-02    Furniture
2         40.0            A  $150         NaN         Toys
3         55.0            B   NaN  2025-08-04     Clothing
4         70.0            C  $250  2025-08-05          NaN

## Apply Cleaning Functions

In [19]:
import numpy as np

#cleaning type of data
df = df.copy()

# Convert price → float
df["price"] = (
    df["price"]
    .astype(str)                    # ensure everything is string
    .str.replace("$", "", regex=False)  # remove $
    .replace("nan", np.nan)         # turn "nan" string back to real NaN
    .astype(float)                  # convert to float
)


# Convert date_str → datetime
df["date_str"] = pd.to_datetime(df["date_str"], errors="coerce")

In [20]:
# TODO: Apply your functions here
# Example:
# df = cleaning.fill_missing_median(df, ['col1','col2'])
# df = cleaning.drop_missing(df, threshold=0.5)
# df = cleaning.normalize_data(df, ['col1','col2'])

df_clean = cleaning.fill_missing_median(df)
df_clean = cleaning.drop_missing(df_clean, threshold=0.5)
df_clean = cleaning.normalize_data(df_clean, method="standard")
df_clean = cleaning.fill_missing_general(df)


df

   numeric_col category_col  price   date_str     category
0         10.0            A  100.0 2025-08-01  Electronics
1          NaN            B  200.0 2025-08-02    Furniture
2         40.0            A  150.0        NaT         Toys
3         55.0            B    NaN 2025-08-04     Clothing
4         70.0            C  250.0 2025-08-05          NaN

## Save Cleaned Dataset

In [21]:
# df.to_csv('../data/processed/sample_data_cleaned.csv', index=False)

import os

# Make sure folder exists
os.makedirs("data", exist_ok=True)

# Save
df_clean.to_csv('data/cleaned_data_create.csv', index=False)

df_clean.head()

   numeric_col category_col  price   date_str     category
0         10.0            A  100.0 2025-08-01  Electronics
1         47.5            B  200.0 2025-08-02    Furniture
2         40.0            A  150.0 2025-08-02         Toys
3         55.0            B  175.0 2025-08-04     Clothing
4         70.0            C  250.0 2025-08-05      unknown